/*
 ************************* ALL RIGHT RESERVED BY FEXPINK LTD ***********************************
Theme : bbca.co.kr - Theme
Designer : Yunus
Crafted by: Yunus
Email: real.freelanceryunus@gmail.com
Website: www.coderyunus.com
Whatsapp: +8801303260848
************************* ALL RIGHT RESERVED BY FEXPINK LTD ***********************************
*/

/* 
#################################
Common Some CSS 
#################################
*/

/* Colors Schema & Fonts Family*/
:root {
  --main-font: "Pretendard";
  --title-font: "Pretendard";
  --body-bg: #fff;
  --transparent-white: #ffffff80;
  --white-color: #fff;
  --primary-color: #006a91;
  --primary-color-deep: #005270;
  --black-color: #232323;
  --nav-active-bg: #006a91;
  --footer-bg: #242424;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: var(--main-font);
  background: var(--body-bg);
}
.hidden {
  display: none !important;
}
.content.signin .allContent {
  display: none;
}
.content.signin .signin {
  display: block;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--white-color);
}
.content.index .signin {
  display: none;
}
main {
  min-height: 100vh;
}
.modal-dialog {
  width: 800px;
  max-width: 800px;
}

.modal_text_terms {
  height: 80vh;
  overflow: auto;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px !important;
}

.card-v2 .card-body pre {
  background: #363636;
  padding: 20px 15px;
  border-radius: 10px;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  color: var(--black-color);
}
.text-col-primary {
  color: var(--primary-color);
}

.navbar-brand img {
  width: 200px;
}
.card-v2 {
  border: 1px solid #d8d8d8;
  border-radius: 20px;
}
.card-v2 .card-body {
  padding: 30px;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group label {
  margin-bottom: 0.25rem;
}
.form-group .form-control {
  border-radius: 0px !important;
  outline: 0;
  font-size: 16px;
  min-height: 45px;
  box-shadow: none;
}
.form-group .form-control:focus {
  outline: 0;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px #ddd;
}
.btn-primary.v2 {
  background: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 0px;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer !important;
}
.btn-primary.v2:hover {
  background: var(--primary-color-deep);
  border-color: var(--primary-color-deep);
  cursor: pointer;
}
.authHeader .navbar {
  background: #fff;
  padding: 0px;
  box-shadow: 0 0 10px #dbdbdb;
}
.authHeader .navbar .nav-item .nav-link {
  padding: 15px 8px;
  color: var(--white-color) !important;
  margin-right: 5px;
}
.authHeader .navbar .nav-item.active {
  background: var(--nav-active-bg);
}
.authHeader .navbar .nav-item.active .nav-link {
  color: var(--white-color);
}
.addfund_acc_nav > a::after {
  content: "충전";
  background: var(--black-color);
  padding: 1px 10px;
  border-radius: 5px;
  color: var(--white-color);
}
.user_avatar img {
  width: 70px;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
}
.user_balance {
  display: inline-block;
  background: var(--primary-color);
  padding: 5px 25px;
  border-radius: 50px;
  margin: 0px;
  color: var(--white-color);
}
.user_info h4 {
  font-size: 20px;
  text-transform: capitalize;
}

.sec_title {
  font-weight: 900;
  margin-bottom: 60px;
}

.button_wrap .btn_home,
.button_wrap .btn_home_outline {
  font-family: var(--title-font);
  font-weight: normal;
  min-width: 170px;
  border-radius: 50px;
  font-size: 18px;
  padding: 15px 25px;
  cursor: pointer;
  margin-right: 10px;
  background: transparent;
  border: 2px solid transparent;
  transition: 0.5s;
}
.button_wrap .btn_home {
  color: var(--white-color);
  background: var(--primary-color);
  border-color: var(--primary-color);
}
.button_wrap .btn_home:hover {
  background: var(--primary-color-deep);
  border-color: var(--primary-color-deep);
}
.button_wrap .btn_home_outline {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.button_wrap .btn_home_outline:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.search_box {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.search_box .form-group {
  flex: 1;
  margin-bottom: 0px;
}

.btn.search_btn {
  width: 80px;
  background: var(--primary-color);
  height: 45px;
  color: #fff;
}

.fi_menu ul li a {
  display: flex;
  padding: 5px 20px;
  background: #ddd;
  margin-right: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #232323;
  min-height: 45px;
  align-items: center;
  justify-content: center;
}

.fi_menu ul li.active a {
  background: var(--primary-color);
  color: var(--white-color);
}

.tip_content span {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  color: #636262;
  padding-left: 10px;
}
.tip_content span::before {
  content: "- ";
}

select.form-control {
  appearance: none;
  background: url(https://assets.helptheall.com/img/ico_select_box.svg) 98%
    center / 8px no-repeat;
}
.modal-dialog {
  width: 900px;
  max-width: 900px;
}
.modal-content {
  background: transparent;
  border: none;
}
.signin___modal {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  border-radius: 15px;
  overflow: hidden;
}

.signin___modal .left__signin img {
  height: 100%;
  object-fit: cover;
}
.signin___modal .right__signin {
  background: #fff;
  padding: 30px 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.btn-close.btn-modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

/*
Login Page
*/

#box_log_up {
  min-height: 90vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*
	New Order Page
*/
#newOrderPage {
  padding: 15px 0px;
}
.time_counter {
  background: transparent
    linear-gradient(300deg, #e55045 0%, #e08576 52%, #ffb77b 100%) 0% 0%
    no-repeat padding-box;
  padding: 10px 5px;
  border-radius: 5px;
  color: #fff;
}
.time_counter p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.timeline_content {
  padding: 15px 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.timeline_content .scroll {
  height: 150px;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.timeline_content .scroll li::before {
  content: attr(data-date);
  color: #ff4436;
  vertical-align: text-bottom;
  padding-right: 3px;
  white-space: nowrap;
}

.neworder_step__title {
  font: normal normal 500 18px/20px Noto Sans KR;
  color: #96c0e0;
  padding-right: 3px;
}
.neworder_step__title {
  font: normal normal 500 18px/20px Noto Sans KR;
  color: #96c0e0;
  padding-right: 3px;
}

.neworder_step__title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 10px;
  background: #cccccc;
  margin-left: 5px;
  margin-right: 2px;
}
.control-label > a {
  display: inline-block;
  vertical-align: text-top;
  font: normal normal normal 11px/15px Malgun Gothic;
  letter-spacing: 0px;
  color: #ffffff;
  background: #ff4436 0% 0% no-repeat padding-box;
  padding: 1px 5px 3px 5px;
  border-radius: 5px;
  margin-left: 3px;
  font-size: 11px;
  text-decoration: none;
}

.orderCatFilter {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.orderCatFilter .catgory_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: 1px solid;
  border-color: #ddd;
  padding: 20px 30px;
  border-radius: 5px;
}
#service_description .border-solid.border-rounded {
  border: 1px solid #ddd;
  padding: 15px;
}
.orderCatFilter .catgory_item.activeItem {
  border-color: var(--primary-color);
}
.orderCatFilter .catgory_item img {
  width: 60px;
}
.orderCatFilter .catgory_item img {
  pointer-events: none;
}
.orderCatFilter .catgory_item span {
  pointer-events: none;
}
/* Ticket */
.message_user,
.message_admin {
  margin-bottom: 25px;
}

.message_user .ticket-message,
.message_admin .ticket-message {
  background: #ececec;
  padding: 10px;
  border-radius: 5px;
}

/* addfund */
.addfund_box {
  border: 1px solid #ddd;
  border-radius: 13px;
  padding: 26px 10px;
}

.addfund_box ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.addfund_box ul li {
  margin-bottom: 10px;
}
#qna .qna_wraper {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#qna .qna_wraper h2 {
  font: normal normal 500 38px/56px Noto Sans KR;
  color: var(--black-color);
  margin-bottom: 10px;
}
#qna .qna_wraper p {
  font: normal normal normal 17px/25px Noto Sans KR;
  letter-spacing: 0px;
  color: #333333;
}

#qna h3 {
  text-align: center;
  font: normal normal 500 28px/41px Noto Sans KR;
  letter-spacing: 0px;
  color: var(--black-color);
  margin-bottom: 25px;
}

.qna_accordion .accordion-button:focus {
  background: transparent !important;
  border: none;
}
.qna_accordion .accordion-item {
  border: none;
}
.qna_accordion .accordion-item {
  border-radius: 0px;
  border-top: 1px solid rgb(131, 131, 131);
  box-shadow: none !important;
}
.qna_accordion .accordion-button {
  box-shadow: none !important;
}
.qna_accordion .accordion-button:not(.collapsed) {
  background: transparent;
  font-weight: bold;
  color: var(--black-color);
  border-bottom: 1px solid rgb(131, 131, 131);
}
.qna_accordion .accordion-item:last-child {
  border-bottom: 1px solid rgb(131, 131, 131);
}
.nav-item .badge {
  padding: 0px;
  font-size: 16px;
  color: var(--black);
}
/*
===========================
   RESPONSIVE AREA
===========================
*/

@media only screen and (max-width: 991px) {
  .authHeader .navbar {
    padding: 10px 0px;
  }
  .nav_btn {
    display: flex;
    height: 45px;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
  }
  .nav_btn .nav_line {
    width: 35px;
    display: block;
    background: var(--black-color);
    height: 2px;
  }
  .nav_toggleitem {
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--black-color);
    font-size: 20px;
  }
  .nav_btn {
    background: transparent;
    padding: 3px 10px;
  }
  .addfund_acc_nav > a::after {
    font-size: 16px;
  }
  .canvas_menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .canvas_menu > ul li a {
    display: block;
    text-align: center;
    background: var(--nav-active-bg);
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 5px;
  }
  .canvas_menu > ul li.active a {
    background: var(--primary-color);
    color: var(--white-color);
  }
  .navbar-brand {
    width: 150px;
  }
  .usernav_area ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  #main_banner {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: left;
  }
  .banner_conent h1 {
    font-size: 25px;
  }
  .button_wrap .btn_home,
  .button_wrap .btn_home_outline {
    min-width: 100px;
  }
  .banner_image .img_banner.img-1 {
    width: 100px;
  }
  .banner_image .img_banner.img-2 {
    width: 100px;
    right: -30px;
  }
  #counter {
    padding: 2rem 0;
  }
  #counter .counter_item h3 {
    font-size: 20px;
  }
  #counter .counter_item p {
    font-size: 16px;
  }
  #services {
    min-height: auto;
    padding: 3rem 0;
  }
  .sec_title {
    margin-bottom: 30px;
  }
  .services_item .icon img {
    width: 90px;
  }
  #services .services_item {
    padding: 15px 15px;
    border-radius: 8px;
  }
  #services .services_item h3 {
    font-size: 20px;
  }
  #services .services_item p {
    font-size: 12px;
  }
  #default_section {
    min-height: auto;
    padding: 3rem 0;
  }
  #default_section .default_section_content h3 {
    font-size: 25px;
  }
  #our_features .fe_item_wrap h3 {
    font-size: 20px;
  }
  #our_features .fe_item_wrap p {
    width: 100%;
    text-align: center;
  }
  #our_features .fe_item_wrap .icon {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  #testimonials {
    min-height: auto;
    padding: 3rem 0;
  }
  .testimonials_item {
    margin-bottom: 30px;
  }
  .testimonials_wraper {
    margin-bottom: 50px;
  }
  .slick-dots li button:before {
    font-size: 15px;
  }
  .slick-dots li.slick-active button:before {
    color: var(--primary-color-deep);
  }
  .asking_wrap .bot_img {
    width: 150px;
  }
  .asking_wrap {
    min-height: 175px;
  }
  .services_table {
    overflow: auto;
  }
  .services_table > table {
    min-width: 700px;
    max-width: 1400px;
    width: 1000px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    width: 130px;
  }
  .navbar-brand img {
    width: 130px;
  }
  .orderCatFilter .catgory_item {
    padding: 10px 10px;
    min-width: 65px;
  }
  .orderCatFilter .catgory_item img {
    width: 25px;
  }
  .orderCatFilter .catgory_item {
    font-size: 10px;
  }
  .orderCatFilter {
    gap: 2px;
  }
  .usernav_area ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
  }
  #main_banner {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: left;
  }
  .banner_conent {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .banner_conent h1 {
    font-size: 25px;
    text-align: center;
  }
  .banner_conent p {
    text-align: center;
  }
  .button_wrap .btn_home,
  .button_wrap .btn_home_outline {
    min-width: 130px;
  }
  .button_wrap {
    text-align: center;
    margin-bottom: 30px;
  }
  .banner_image .img_min_banner {
    max-width: 100%;
  }
  .banner_image .img_banner.img-1 {
    display: none;
  }
  .banner_image .img_banner.img-2 {
    top: unset;
    right: 0px;
    width: 180px;
    bottom: -20px;
  }
  #counter {
    padding: 3rem 0;
  }
  #counter .counter_item {
    margin-bottom: 20px;
  }
  #services {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: -150px;
  }
  #services .services_item {
    padding: 12px;
    margin-bottom: 20px;
  }
  #services .services_item .icon img {
    width: 50%;
    margin: 0 auto;
  }
  #services .services_item h3,
  #our_features .fe_item_wrap h3,
  #services .services_item h3 {
    text-align: center;
  }
  #services .services_item p,
  #our_features .fe_item_wrap p #services .services_item p {
    text-align: center;
  }
  .sec_title {
    font-size: 25px;
    margin-bottom: 40px;
  }
  #default_section {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
  }
  .default_section_content {
    margin-bottom: 50px;
  }
  #default_section .default_section_content h3 {
    font-size: 25px;
    text-align: center;
  }
  #default_section .default_section_content p {
    text-align: center;
  }
  .default_sectioin_img {
    text-align: center;
  }
  #our_features {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: repeat;
  }
  #our_features .fe_item_wrap {
    min-height: auto;
  }
  #testimonials {
    min-height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: -129px;
  }
  .testimonials_item {
    margin: 0 auto;
  }
  .asking_wrap .bot_img {
    display: none;
  }
  .asking_wrap {
    padding: 10px;
    padding-top: 50px;
    min-height: auto;
  }
  footer p {
    color: var(--white-color);
    text-align: center;
  }
  .footer_logo {
    text-align: center;
    margin-bottom: 30px;
  }
  .footer_logo img {
    margin: 0 auto;
  }
  .foo_link {
    justify-content: center;
  }
  .testimonials_wraper {
    overflow: hidden;
  }
  .services_table {
    overflow: auto;
  }
  .services_table > table {
    min-width: 700px;
    max-width: 1400px;
  }
  .modal-dialog {
    width: 100%;
    max-width: 96%;
  }
  .modal_text_terms {
    font-size: 12px !important;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Hiding Element From PC and showing to mobile version*/
#services_ph,
#features_ph {
  display: none;
}

@media screen and (max-width: 550px) {
  /* Hiding from phone  */
  .signin___modal {
    grid-template-columns: 1fr;
  }
  .signin___modal .left__signin {
    display: none;
  }
  #services_ph,
  #features_ph {
    display: block;
  }
  body {
    background: #fff;
  }
  #services_pc,
  #features_pc {
    display: none;
  }

  .authHeader .navbar {
    padding: 0px;
  }
  .card-v2 .card-body {
    padding: 10px;
  }
  .nav_btn {
    padding: 0px;
    height: 35px;
  }
  .time_counter p {
    font-size: 12px;
  }
  .time_counter.mb-3 {
    margin-bottom: 7px !important;
  }
  .timeline h2 {
    font-size: 18px;
  }
  .timeline_content {
    border-radius: 7px;
  }
  .timeline_content .scroll > span {
    font-size: 12px;
  }
  .timeline_content ul li {
    font-size: 12px;
    display: flex;
  }
  .neworder_box .card-v2 {
    border: none;
    background: none;
  }
  .neworder_box .card-v2 .card-body {
    padding: 0px;
  }
  .neworder_box .form-title {
    display: none;
  }
  .neworder_box .new_order_txt {
    display: none;
  }
  .orderCatFilter {
    padding: 10px 0px;
  }
  .orderCatFilter {
    gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .orderCatFilter .catgory_item {
    font-size: 11px;
  }
  .orderCatFilter .catgory_item img {
    width: 30px;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
  }
  .form-group label {
    font-size: 14px;
  }
  .form-group .form-control {
    font-size: 14px;
  }
  #service_description .border-solid.border-rounded {
    font-size: 14px;
  }
  .timeline_content .scroll {
    height: 100px;
  }
  .neworder_step__title {
    font-size: 16px;
  }
  .btn-primary.v2 {
    font-size: 16px;
  }
  .fi_menu ul li a {
    font-size: 14px;
    min-height: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  .search_box {
    display: none;
  }
  table thead tr th,
  table tbody tr td {
    font-size: 14px;
    text-align: center;
  }
  .authHeader #navbarSupportedContent {
    position: absolute;
    background: rgb(35 35 35);
    width: 100%;
    top: 43px;
    left: 0px;
  }
  .authHeader .navbar .nav-item.active .nav-link {
    color: var(--white-color);
  }
  .authHeader .navbar .nav-item .nav-link {
    padding: 10px 15px;
    color: var(--white-color);
    margin-right: 5px;
    font-size: 14px;
  }
  .authHeader .navbar-nav.ms-auto .addfund_acc_nav {
    display: none;
  }
  .authHeader #navbarSupportedContent::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #141414b8;
    height: 100%;
  }
  #services_ph .services_item {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffffffd9;
    backdrop-filter: blur(5px);
  }
  #addfund h2 {
    font-size: 20px;
  }
  #addfund p {
    font-size: 16px;
  }
  .addfund_box ul li {
    font-size: 12px;
  }
  .card-v2 {
    border: transparent;
    background: transparent;
    border-radius: 0px;
  }
  .addfund_box {
    border-radius: 8px;
  }
  .timeline .card-v2 {
    border: 1px solid #232323;
    border-radius: 14px;
  }
  #qna {
    padding-top: 50px;
  }
  #qna .qna_wraper {
    display: none;
  }
  #qna .card-v2 {
    border: 1px solid var(--black-color);
    border-radius: 15px;
  }
  .qna_accordion .accordion-button {
    font-size: 14px;
  }
  .qna_accordion .accordion-body {
    font-size: 12px;
  }
}

:root {
  --black: #353535;
  --white: #ffffff;
  --primary-color: #006a91;
  --font-main: "Pretendard";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard";
  color: var(--black);
  font-size: 16px;
  background: #f3f3f3;
}

.main-navbar {
  border-bottom: 1px solid #fff;
  padding: 0px 0px;
}

.main-navbar.navbar_setbg {
  background: #000000bd;
  backdrop-filter: blur(10px);
  border-color: var(--black);
}

.main-navbar .nav-link {
  padding: 25px 20px;
  color: var(--white);
  border-bottom: 2px solid transparent;
}

.main-navbar .nav-link.active {
  color: var(--white);
  font-weight: 700;
  border-bottom: 2px solid #ddd;
}

#hero {
  padding: 180px 0px;
  background: linear-gradient(#0000009d, #0000009d),
    url(https://cdn.mypanel.link/jjc9qs/mjs685toy57gu0n5.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero h4 {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 15px;
}
#hero h1 {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 0px;
}

#association {
  padding: 100px 0px;
}

.section_title_wrap {
  margin-bottom: 50px;
}

.section_title_wrap h4 {
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.section_title_wrap h2 {
  font-weight: 700;
  color: var(--black);
  margin-bottom: 15px;
}

.section_title_wrap p {
  font-size: 18px;
}

.asso_item > img {
  width: 100%;
}

.asso_item h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--black);
}

#establishment {
  background: var(--white);
  padding: 100px 0px;
}
#core_value img,
#establishment img {
  border-radius: 10px;
}

#core_value {
  padding: 80px 0px;
}

.core-value-image {
  text-align: right;
}
#role_of_association {
  padding: 100px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(#00000040, #00000040),
    url(https://cdn.mypanel.link/jjc9qs/glx1elc8pn7k93dd.webp),
    linear-gradient(#fff, #fff);
}

.card__associations {
  padding: 35px 50px;
  border-radius: 15px;
}

.role__item {
  background: #f4f4f4;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.role__item .role_top {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.role__item .role_top h4 {
  font-size: 22px;
  color: var(--black);
  font-weight: 700;
}

.role__item .role_top p {
  font-size: 16px;
  margin-bottom: 0px;
  color: var(--black);
}

footer {
  background: #262626;
  padding: 50px 0px;
}

.footer__item__wrap {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.footer__item__wrap .footer_txt {
  font-weight: 400;
}

.footer__item__wrap .footer_txt strong {
  font-weight: 700;
}

#page_title {
  padding: 70px 0px;
  padding-top: 130px;
  background: linear-gradient(#0000009d, #0000009d),
    url(https://cdn.mypanel.link/jjc9qs/2duxji0ej060w37l.webp);
}

#page_title h1 {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 0px;
  color: var(--white);
}

#services__text__page__wrap {
  padding: 80px 0px;
}

.serv_sec_title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 25px;
}

.serv_sec_title .span_square {
  display: block;
  width: 15px;
  height: 15px;
  background: var(--primary-color);
}

.service_post_item {
  margin-bottom: 40px;
}

.service_post_item .post_image img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.service_post_item h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 10px;
}

.service_post_item p {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

#termsOfCost {
  padding: 70px 0px;
}

#termsOfCost .card {
  border: none;
  border-radius: 10px;
}

#termsOfCost .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#termsOfCost .card .card-body p {
  margin-bottom: 0;
}

.text-primary {
  color: var(--primary-color) !important;
}

.card h4 {
  font-size: 22px;
  font-weight: bold;
}

.discount__wrap {
  background: #f3f3f3;
  padding: 20px 15px;
}
.discount__wrap {
  display: flex;
  gap: 15px;
  align-items: center;
}
.discount__wrap span {
  font-size: 18px;
  color: var(--black);
}

.discount__wrap span.old_price {
  text-decoration: line-through;
}

.discount__wrap span.current_price {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
}

.discount__wrap span.current_price small {
  font-size: 15px;
}

.big_image_card {
  margin-bottom: 30px;
}

.big_image_card .big_card_img img {
  width: 100%;
  margin-bottom: 15px;
}

.big_image_card h3 {
  font-size: 20px;
  color: var(--black);
  font-weight: 700;
}

.big_image_card p {
  font-size: 16px;
  color: var(--black);
}
.review_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review_card {
  background: #fff;
  padding: 30px 25px;
  height: 100%;
  border-radius: 10px;
}

.review_card h4 {
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.review_card p {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

.review_card .review_user .star {
  color: #ffc566;
  margin-bottom: 5px;
}
.nav-toggle-btn {
  padding: 3px;
  display: none;
  border: none;
  font-size: 25px;
  background: transparent;
  color: var(--white);
  border-radius: 5px;
}
.auth-navbar .nav-toggle-btn {
  color: var(--black-color);
}
.auth-navbar {
  background: #fff;
  padding: 15px 0px;
}
.auth-navbar .navbar-nav .nav-link {
  color: var(--black);
}
.auth-navbar .navbar-nav .nav-link.active {
  color: var(--nav-active-bg);
  font-weight: 700;
}

.account_preference {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.account_preference h3 {
  font-size: 20px;
  font-weight: 700;
}

.account_preference h5 {
  color: var(--nav-active-bg);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0px;
}

.authed .offcanvas-body .nav-item .nav-link.active {
  color: var(--white);
  background: var(--primary-color);
}

.auto_login.btn__small {
  padding: 5px 10px;
  font-size: 14px;
  background: black;
  border-color: black;
}

.map_image img {
  width: 100%;
}

.btn-white-banner {
  color: var(--white-color);
  border-color: var(--white-color);
  padding: 10px 25px;
  font-size: 18px;
  transition: 0.5s;
  border-radius: 5px;
  gap: 12px;
  display: inline-flex;
}

.btn-white-banner .text{
  text-transform: uppercase;
}

.btn-white-banner:hover {
  background: var(--white-color);
  color: var(--black-color);
}

.contact__wraper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 15px;
  align-items: center;
}

.contact__wraper .info__item {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  gap: 30px;
}

.contact__wraper .info__item .icon_txt {
  font-size: 18px;
  font-weight: 800;
}

.btn-contact-dir {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  padding: 10px 20px;
  transition: 0.5s;
}

.btn-contact-dir:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

#process {
  padding: 50px 0px;
}
.step_wraper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.step_wraper .step_count {
  background: url(https://cdn.mypanel.link/jjc9qs/sm3fwam0k46dczyh.png);
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step_wraper .step_count .number {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 0px;
  line-height: 1;
}

.step_wraper .step_count .text {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0px;
  line-height: 1;
}

.step_wraper h4 {
  font-size: 18px;
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 3px;
}

.gallery__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}

.contact_top_wrap{
    background: #4278F9;
    padding: 50px 0px;
}

.contact-item_wrap {
  background: #fff;
  padding: 30px 25px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-item_wrap p{
  margin-bottom: 0px;
}

.contact_top .icon {
  font-size: 25px;
  color: #4278f9;
  margin-right: 5px;
}

.contact_top .con_text{
  font-weight: bold;
  color: var(--black);
  text-transform: capitalize;
}

.text_terms {
  height: 250px;
  overflow: auto;
  background: #dadada;
  padding: 20px;
  margin: 15px 0px;
}

.contact-form label{
  margin-bottom: 8px;
}

.contact-form .form-control{
  background-color: #dadada;
  border-radius: 0px;
}
/* Responsive Area */

@media only screen and (max-width: 1700px) {
  .main-navbar .nav-link {
    padding: 20px 20px;
  }
  #page_title {
    padding: 50px 0px;
    padding-top: 130px;
  }
  #page_title h1 {
    font-size: 35px;
  }
  #hero {
    padding: 150px 0px;
    padding-top: 210px;
  }
  .section_title_wrap h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  #association {
    padding: 80px 0px;
  }
  #hero h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #hero h1 {
    font-size: 40px;
  }
  .section_title_wrap h2 {
    font-size: 28px;
  }
  a,
  p,
  .section_title_wrap p {
    font-size: 16px;
  }
  .card h4,
  .role__item .role_top h4,
  .asso_item h3 {
    font-size: 20px;
  }
  .card__associations {
    padding: 30px 40px;
  }
  .role__item {
    padding: 20px;
  }
  .service_post_item h3 {
    font-size: 18px;
  }
  .service_post_item p {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 1440px) {
  #hero {
    padding: 100px 0px;
    padding-top: 160px;
  }
  #hero h4 {
    font-size: 22px;
  }
  #hero h1 {
    font-size: 35px;
  }
  #services__text__page__wrap,
  #termsOfCost,
  #role_of_association,
  #establishment,
  #association {
    padding: 60px 0px;
  }
  .section_title_wrap h4 {
    font-size: 18px;
  }
  .navbar-nav .nav-link {
    font-size: 16px;
  }
  .section_title_wrap h2 {
    font-size: 26px;
  }
  .review_card h4,
  .big_image_card h3,
  .card h4,
  .role__item .role_top h4,
  .asso_item h3 {
    font-size: 18px;
  }
  .review_card p,
  .big_image_card p,
  a,
  p,
  .section_title_wrap p {
    font-size: 14px;
  }
  .review_user h5 {
    font-size: 16px;
  }
  #page_title h1 {
    font-size: 28px;
  }
  #page_title {
    padding: 50px 0px;
    padding-top: 120px;
  }
  .serv_sec_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .service_post_item h3 {
    font-size: 16px;
  }
  .service_post_item p {
    font-size: 14px;
  }
  .section_title_wrap {
    margin-bottom: 30px;
  }
  .discount__wrap {
    padding: 10px;
  }
  .discount__wrap span {
    font-size: 16px;
  }
  .discount__wrap span.current_price {
    font-size: 24px;
  }
  .gallery__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .nav-toggle-btn {
    display: block;
  }
  #hero {
    padding: 80px 0px;
    padding-top: 140px;
  }
  .main-navbar {
    padding: 10px 0px;
  }
  #services__text__page__wrap,
  #termsOfCost,
  #role_of_association,
  #establishment,
  #association {
    padding: 50px 0px;
  }
  .section_title_wrap h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .section_title_wrap h2 {
    font-size: 22px;
  }
  .asso_item > img {
    margin-bottom: 10px !important;
  }
  .serv_sec_title,
  .review_card h4,
  .big_image_card h3,
  .card h4,
  .role__item .role_top h4,
  .asso_item h3 {
    font-size: 16px;
  }
  .card__associations {
    padding: 15px 6px;
  }
  .footer__item__wrap {
    font-size: 16px;
    gap: 10px;
  }
  #page_title {
    padding: 40px 0px;
    padding-top: 100px;
  }
  .offcanvas-title img {
    width: 200px;
  }
  .offcanvas-body .nav-item .nav-link {
    padding: 5px 10px;
  }
  .offcanvas-body .nav-item .nav-link.active {
    font-weight: bold;
    color: var(--primary-color);
  }
  .contact__wraper {
    grid-template-columns: 2fr 6fr;
  }
  .contact__wraper .info__item {
    grid-template-columns: 2fr 5fr;
  }
  .gallery__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 550px) {
  section {
    overflow: hidden !important;
  }
  #hero {
    background: linear-gradient(#0000009d, #0000009d),
      url(https://cdn.mypanel.link/jjc9qs/46shffks3q2b1tdy.webp);
    padding: 220px 0px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #hero h4 {
    font-size: 16px;
  }
  #hero h1 {
    font-size: 28px;
  }
  #page_title {
    background: linear-gradient(#0000009d, #0000009d),
      url(https://cdn.mypanel.link/jjc9qs/irnxpqjc0kxah64e.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #services__text__page__wrap,
  #termsOfCost,
  #role_of_association,
  #establishment,
  #association {
    padding: 40px 0px;
  }
  .section_title_wrap h4 {
    margin-bottom: 5px;
  }
  .section_title_wrap h2 {
    font-size: 18px;
  }
  .section_title_wrap h2 br {
    display: none;
  }
  .section_title_wrap h2 {
    margin-bottom: 10px;
  }
  .review_card p,
  .big_image_card p,
  a,
  p,
  .section_title_wrap p {
    font-size: 14px;
  }
  .review_card p br,
  .big_image_card p br,
  .section_title_wrap p br {
    display: none;
  }
  .asso_item {
    margin-bottom: 15px;
  }
  #core_value img,
  #establishment img {
    margin-bottom: 15px;
  }
  .card__associations .card-body,
  .card__associations {
    background: none;
    border: none;
    padding: 0px;
  }
  .footer__item__wrap {
    gap: 4px;
    margin-bottom: 15px;
  }
  .discount__wrap span.current_price {
    font-size: 20px;
  }
  .discount__wrap span {
    font-size: 14px;
  }

  .serv_sec_title span:last-child {
    display: flex;
    flex-direction: column;
  }
  #termsOfCost .col-12.mb-5 {
    margin-bottom: 15px !important;
  }
  .review_card {
    padding: 20px 20px;
  }
  .signin___modal .right__signin {
    padding: 50px 20px;
  }
  .btn-white-banner {
    padding: 8px 18px;
    font-size: 14px;
  }
  .contact__wraper {
    grid-template-columns: 1fr;
  }
  .contact__wraper .info__item {
    grid-template-columns: 1fr 5fr;
  }
  .contact_logo {
    text-align: center;
  }
  .contact__wraper .info__item {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}
