:root{
    --black: #353535;
    --white: #ffffff;
    --primary-color: #006A91;
    --font-main: 'Pretendard';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Pretendard';
    color: var(--black);
    font-size: 16px;
    background: #F3F3F3;
}

.main-navbar{
    border-bottom: 1px solid #fff;
    padding: 0px 0px;
}

.main-navbar.navbar_setbg{
    background: #000000bd;
    backdrop-filter: blur(10px);
    border-color: var(--black);
}

.main-navbar .nav-link{
    padding: 25px 20px;
    color: var(--white);
    border-bottom: 2px solid transparent;
}

.main-navbar .nav-link.active{
    color: var(--white);
    font-weight: 700;
    border-bottom: 2px solid #ddd;
}

#hero{
    padding: 180px 0px;
    background: linear-gradient(#0000009d, #0000009d),url(./../images/hero-banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h4{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 15px;
}
#hero h1{
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 0px;
}

#association{
    padding: 100px 0px;
}

.section_title_wrap{
    margin-bottom: 50px;
}

.section_title_wrap h4{
    font-size: 22px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.section_title_wrap h2{
    font-weight: 700;
    color: var(--black);
    margin-bottom: 15px;
}

.section_title_wrap p{
    font-size: 18px;
}

.asso_item > img{
    width: 100%;
}

.asso_item h3{
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
}

#establishment{
    background: var(--white);
    padding: 100px 0px;
}
#core_value img,
#establishment img{
    border-radius: 10px;
}

#core_value{
    padding: 80px 0px;
}

.core-value-image{
    text-align: right;
}
#role_of_association{
    padding: 100px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(#00000040,#00000040), url(./../images/role-bg-image.png), linear-gradient(#fff, #fff);
}

.card__associations{
    padding: 35px 50px;
    border-radius: 15px;
}

.role__item{
    background: #F4F4F4;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.role__item .role_top{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}

.role__item .role_top h4{
    font-size: 22px;
    color: var(--black);
    font-weight: 700;
}

.role__item .role_top p{
    font-size: 16px;
    margin-bottom: 0px;
    color: var(--black);
}

footer{
    background: #262626;
    padding: 50px 0px;
}

.footer__item__wrap {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.footer__item__wrap .footer_txt{
    font-weight: 400;
}


.footer__item__wrap .footer_txt strong{
    font-weight: 700;
}