<!DOCTYPE html>
<html lang="{{site['language']}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page['title'] }}</title>
    <meta name="keywords" content="{{ site['seo_key'] }}">
    <meta name="description" content="{{ site['seo_desc'] }}">
    {% if site['favicon'] %}
    <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
    {% endif %}

    <!-- 오픈 그래프 -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page['title'] }}">
    <meta property="og:description" content="{{ site['seo_desc'] }}">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://bbca.co.kr/">
    <meta property="og:locale" content="ko_KR" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		  <![endif]-->
    {{ site['custom_header'] }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    {% for style in site['styles'] %}
    <link rel="stylesheet" type="text/css" href="{{ style['href'] }}">
    {% endfor %}
</head>

<body {% if not user['auth'] %} class="noAuthBody" {% endif %}>

    {% if user['auth'] %}

    {% else %}
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg main-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <div class="site__logo">
                        <img src="https://cdn.mypanel.link/jjc9qs/h2xgpr6zwctaniam.png" alt="">
                    </div>
                </a>
                <button type="button" class="nav-toggle-btn" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for menu in site['menu'] %}
                        {% if menu['link'] == '~' %}
                        {% if page['url'] == '/' %}
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                {{ menu['name'] }}
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/#signin">
                                {{ menu['name'] }}
                            </a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if menu['active'] %}active{% endif %}" href="{{ menu['link'] }}" {% if
                                menu['external'] %} target="_blank" {% endif %}>{{
                                menu['name'] }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                    <img src="https://cdn.mypanel.link/jjc9qs/wxnuj8znksq4doh8.png" class="img-fluid" alt="">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {% for menu in site['menu'] %}
                    {% if menu['link'] == '~' %}
                    {% if page['url'] == '/' %}
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            {{ menu['name'] }}
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/#signin">
                            {{ menu['name'] }}
                        </a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if menu['active'] %}active{% endif %}" href="{{ menu['link'] }}" {% if
                            menu['external'] %} target="_blank" {% endif %}>{{
                            menu['name'] }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </header>
    {% endif %}


    {% if user['auth'] %}
    <main class="authMain" id="mainAuth">
        <div class="sidebar_premium d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="sidebar">
            <button onclick="toggleSidebar()" class="closeSidebar">
                <i class="fas fa-times"></i>
            </button>
            <a href="{{ page_url('index') }}"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                {% if site['logo'] %}
                <img src="{{ site['logo'] }}" alt="{{ site['name'] }}" width="200px" title="{{ site['name'] }}">
                {% else %}
                {{ site['name'] }}
                {% endif %}
            </a>
            <div class="user_box">
                <div class="avatar">
                    <img src="https://cdn.mypanel.link/e2mfjj/milr6pncqx4ds3h6.png" class="user_avatar" alt="">
                </div>
                <h4 class="user-name">{{user['username']}}</h4>
                <span class="userbalance">
                    {{user['balance_formatted']}}
                </span>
            </div>
            <ul class="nav nav-pills flex-column mb-auto">
                {% for menu in site['menu'] %}
                <li class="nav-item">
                    <a href="{{ menu['link'] }}"
                        class="nav-link d-flex gap-2 align-items-center {% if menu['active'] %} active{% endif %}">
                        {% if menu['icon'] %}
                        <i class="{{ menu['icon'] }}"></i>
                        {% endif %}
                        <span>{{ menu['name'] }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            <div class="top_bar d-flex justify-content-between align-items-center">

                <div>
                    <button class="sidebarNavBtn" onclick="toggleSidebar()">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <div class="logo">
                    <img src="https://cdn.mypanel.link/e2mfjj/5krltr2cm1n37d25.png" class="img-fluid img_logo_top_nav"
                        alt="">
                </div>
                <div>
                    <a href="http://pf.kakao.com/_kPixeb/chat" target="_blank" class="user_nav_items"><i
                            class="fas fa-comment-dots"></i></a>
                    <a href="/addfunds" class="user_nav_items"><i class="fas fa-won-sign"></i></a>
                    <a href="/account" class="user_nav_items"><i class="fas fa-user"></i></a>
                    <a href="/logout" class="user_nav_items"><i class="fas fa-power-off"></i></a>
                </div>

            </div>
            <div class="all_content">
                <!-- CONTENT -->
                {{ content }}
            </div>
            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="footer_logo d-flex align-items-center h-100">
                                <img src="{{site['logo']}}" alt="" width="200" class="logo">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <p class="text-white">
                                회사명 : SNS 시그널 | 송선한<br>
                                주소: 대구 수성구 시지로 70, 202호(시지동, 태양힐즈) <br>

                                사업자등록번호 : 489-35-01067 <br><br>
                                Copyright {{site['name']}} All rights reserved
                            </p>

                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="foo_link d-flex align-items-center h-100">
                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                    data-bs-target="#termsModal">이용약관</a> | <a href="javascript:void(0)"
                                    data-bs-toggle="modal" data-bs-target="#privacyModal">개인정보취급방침</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    {% else %}
    <!-- Main variables *content* -->
    <main {% if page['url']=='/' %} class="singinPageMain" {% endif %}>
        {{ content }}
    </main>
    {% endif %}

    {{ site['custom_footer'] }}

    {% if user['auth'] %}

    {% else %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="footer_wraper text-white">
                        <div class="footer__item__wrap">
                            <span class="footer_txt">
                                <strong>
                                    회사명 :
                                </strong>
                                융합기획커머스협회
                            </span>
                            |
                            <span class="footer_txt">
                                <strong>
                                    이메일 :
                                </strong>
                                <a href="mailto:bbcakorea@gmail.com" class="link text-white">bbcakorea@gmail.com</a>
                            </span>
                            |
                            <span class="footer_txt">
                                <strong>
                                    연락처 :
                                </strong>
                                031-305-2500
                            </span>
                            |
                            <span class="footer_txt">
                                <strong>
                                    대표 :
                                </strong>
                                김유미
                            </span>
                        </div>
                        <div class="footer__item__wrap">
                            <span class="footer_txt">
                                <strong>
                                    주소 :
                                </strong>
                                경기도 용인시 기흥구 기흥로 58, B동 2707호(구갈동,기흥ICT밸리)
                            </span>
                            |
                            <span class="footer_txt">
                                <strong>
                                    고유번호 :
                                </strong>
                                416-82-91186
                            </span>
                        </div>
                        <p class="fw-bold text-white mb-0 mt-4">Copyright 2023. bbcakorea. All Rights Reseved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}

    <style>
        .integration-fixed__bottom-right {
            bottom: 0;
            right: 0;
        }

        .integration-fixed {
            position: fixed;
            z-index: 10000000;
        }

        .whatsapp-container {
            padding: 24px;
        }

        .whatsapp-button {
            width: 80px;
            height: 80px;
            bottom: 40px;
            right: 40px;
            background-color: #ffe812;
            color: #fff !important;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none !important;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            transform: scale(0.9);
        }

        .whatsapp-button:hover {
            transform: scale(1);
            background-color: #ffe812;
        }
    </style>
    <!--  Kakao talk -->
    <div class="integration-fixed integration-fixed__bottom-right">
        <div class="whatsapp-container">
            <a href="http://pf.kakao.com/_kPixeb/chat" target="_blank" class="whatsapp-button">
                <img src="https://res.cloudinary.com/dw8lywl8p/image/upload/v1655624944/kakao-talk_tqodrz.png" alt=""
                    style="width: 60%; height: 60%" />
            </a>
        </div>
    </div>

    <script type="text/javascript">
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            const mainAuth = document.getElementById('mainAuth');
            mainAuth.classList.toggle('activeSidebar');
            sidebar.classList.toggle('sidebarToggle');
        }
    </script>

    {% for script in site['scripts'] %}
    <script type="text/javascript" {% if script['src'] %} src="{{ script['src'] }}" {% endif %}>
        {% if script['code'] %}
        {{ script['code'] }}
        {% endif %}
    </script>
    {% endfor %}

    {% if not user['auth'] %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>



    <script>
        function autoLogin() {
            // change values => press the login button
            const inputElem1 = document.getElementById("username");
            const inputElem2 = document.getElementById("password");
            inputElem1.value = "test123";
            inputElem2.value = "123123123";
            document.querySelector("#signinBtn").click();
        }

        function handleDemoClick() {
            autoLogin();
        }

        function showLogin() {
            var content_element = document.querySelector(".content");
            content_element.classList.remove('index');
            content_element.classList.add('signin');
        }
    </script>
    {% endif %}
    {% if user['auth'] %}
    {% if page['url'] == '/' %}

    <script>

        var cur_date = new Date();
        var next_date = new Date();

        Date.prototype.toStr = function () {
            var str = "";
            str += this.getFullYear() + "-";
            str += (this.getMonth() + 1 < 10 ? "0" : "") + (this.getMonth() + 1) + "-";
            str += (this.getDate() < 10 ? "0" : "") + this.getDate() + " ";
            str += (this.getHours() < 10 ? "0" : "") + this.getHours() + ":";
            str += (this.getMinutes() < 10 ? "0" : "") + this.getMinutes() + ":";
            str += (this.getSeconds() < 10 ? "0" : "") + this.getSeconds();
            return str;
        };

        function confirmTime() {
            var elem = document.querySelector("#times");
            elem.innerHTML = new Date().toStr();
            elem.style.width = elem.offsetWidth + "px";
        }

        var elem = document.querySelector("#times");
        if (elem) {
            elem.classList.toggle("init", false);
            elem.removeAttribute("style");
            confirmTime();
            setTimeout(function (e) {
                elem.classList.toggle("init", true);
                setInterval(confirmTime, 1000);
            }, 1000);
        }



    </script>


    <script>
        function numberWithCommas(x) {
            var parts = x.toString().split('.');
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            return parts.join('.');
        }

        $(document).ready(function () {
            $("#orderform-category").change(function () {
                window.setTimeout(function () {
                    $("#orderform-service option").each(function (element, index, array) {
                        var text = $(this).text().split("-");

                        var priceOnce = numberWithCommas(parseInt(text[1].replace(",", "").replace(",", "").replace(",", "").replace("₩", "")) / 1000);
                        $(this).text(text[0] + "- ₩" + priceOnce + "(1개)");
                    });
                }, 10)

            });
            $("#orderform-category").change();
        });
    </script>
    {% endif %}

    <script>
        document.getElementById('navButtons').addEventListener('click', () => {
            document.getElementById('navButtons').classList.toggle('actived');
            console.log('added');
        })
    </script>
    {% endif %}

    {% if not user['auth'] %}
    <script>
        window.addEventListener("DOMContentLoaded", function (e) {
            if (location.hash === "#signin") {
                const myModal = new bootstrap.Modal('#staticBackdrop');
                myModal.show();
            }
        });
    </script>
    {% endif %}


</body>

</html>