<section id="massorder" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-12"></div>
            <div class="col-lg-8 col-md-8 col-12">
                <div class="card card-v2 mb-3">
                    <div class="card-body">
                        <h2 class="mb-3">대량 주문</h2>
                        <form {% if site['rtl'] %}class="rtl-form"{% endif %} method="post" action="{{ page['url'] }}">
                            {% if 1 == success %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                   
                                    <h4>{{lang('massorder.message.success')}}</h4>
                                    {{lang('massorder.orders')}}: {{order['success']}}<br>
                                    {{lang('massorder.errors')}}: {{order['error']}}<br>
                                    <a href="{{ order['link'] }}" target="_blank">{{ lang('massorder.button.details') }}</a>

                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {%endif%}
                            {% if error %}
                                <div class="alert alert-dismissible alert-danger fade show">
                                   
                                    {% if order['link'] %}
                                        <h4>{{ errorText }}</h4>
                                        {{lang('massorder.orders')}}: {{order['success']}}<br>
                                        {{lang('massorder.errors')}}: {{order['error']}}<br>
                                        <a href="{{ order['link'] }}" target="_blank">{{ lang('massorder.button.details') }}</a>
                                    {% else %}
                                        {{ errorText }}
                                    {% endif %}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="links" class="control-label">{{ lang('massorder.label') }}</label>
                                <textarea class="form-control" name="MassOrderForm[orders]" rows="15" id="links" placeholder="{{ lang('massorder.placeholder') }}"></textarea>
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrftoken}}">
                            <button type="submit" class="btn btn-primary v2 w-100">{{ lang('massorder.button') }}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-12"></div>
        </div>
    </div>
</section>