<section id="newOrderPage">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-8 col-12">
                <div class="time_counter mb-3">
                    <p>[서비스 정상 가동중] 체크시간 : <span id="times"></span> </p>
                </div>
                <div class="timeline mb-3">
                    <div class="card card-v2">
                        <div class="card-body">
                            <h2 class="form-title text-center mb-2">
                                공지사항
                            </h2>

                            <div class="timeline_content">
                                <ul class="scroll">
                                    <span style="background-color: rgb(255, 255, 0);"><b>
                                    광고대행사를 위한 API연동, 가격 혜택을 지원하고 있습니다.
                                    </b></span>
                                  
                       <li data-date="[210927]">인스타 한국인 좋아요 증가 속도를 개선하였습니다.</li>
                       <li data-date="[210916]">인스타 한국인 팔로워 품질을 최적화하였습니다</li>
                       <li data-date="[210911]">인스타 한국인 팔로워 증가 속도를 개선하였습니다.</li>
                       <li data-date="[210907]">페이스북 한국인 댓글 품질을 개선하였습니다.</li>
                       <li data-date="[210829]">유튜브 한국인 좋아요 최적화하였습니다</li>
                       <li data-date="[210824]">인스타 한국인 댓글 품질을 대폭 개선하였습니다.</li>
                       <li data-date="[210817]">인스타 한국인 팔로워 품질을 최적화하였습니다.</li>
                       <li data-date="[210811]">인스타 한국인 좋아요 증가 속도를 개선하였습니다.</li>
                       <li data-date="[210805]"> 인스타 한국인 댓글 증가 속도를 개선하였습니다.</li>
                       <li data-date="[210801]">인스타 한국인 좋아요 품질을 개선하였습니다.</li>
                       <li data-date="[210727]">페이스북 한국인 댓글 서비스가 추가되었습니다.</li>
                       <li data-date="[210727]">페이스북 한국인 페이지 좋아요 서비스가 추가되었습니다.</li>
                       <li data-date="[210727]">페이스북 한국인 프로필 팔로워 서비스가 추가되었습니다.</li>
                       <li data-date="[210726]">페이스북 한국인 게시물 좋아요 서비스가 추가되었습니다.</li>
                       <li data-date="[210720]">인스타 한국인 댓글 품질을 대폭 개선하였습니다.</li>
                       <li data-date="[210717]">인스타 한국인 좋아요 서비스의 품질을 개선하였습니다</li>
                       <li data-date="[210716]">인스타 한국인 댓글 연령 서비스를 추가하였습니다.</li>
                       <li data-date="[210716]">인스타 한국인 팔로워 연령 서비스를 추가하였습니다.</li>
                       <li data-date="[210716]">인스타 한국인 좋아요 연령 서비스를 추가하였습니다.</li>
                       <li data-date="[210716]">유튜브 한국인 구독자 연령 서비스를 추가하였습니다.</li>
                       <li data-date="[210716]">유튜브 한국인 좋아요 연령 서비스를 추가하였습니다.</li>
                       <li data-date="[210716]">유튜브 한국인 댓글 연령 서비스를 추가하였습니다.</li>
                       <li data-date="[210713]">인스타 실제 한국인 좋아요 품질을 개선하였습니다</li>
                       <li data-date="[210708]">인스타 인기게시물 포스트 공유 서비스를 추가하였습니다.</li>
                       <li data-date="[210705]">인스타 한국인 댓글 증가 속도를 개선하였습니다.</li>
                       <li data-date="[210702]">유튜브 동영상 조회수 품질을 대폭 개선하였습니다.</li>
                       <li data-date="[210601]">인스타 인기게시물 시스템을 최적화하였습니다.</li>
                       <li data-date="[210525]">유튜브 한국인 댓글 품질을 최적화하였습니다.</li>
                       <li data-date="[210521]">인스타 외국인 팔로워 품질을 개선하였습니다.</li>
                       <li data-date="[210505]">인스타 한국인 댓글 품질을 개선하였습니다.</li>
                       <li data-date="[210503]">인스타 한국인 좋아요 증가 속도를 개선하였습니다.</li>
                       <li data-date="[210427]">인스타 한국인 팔로워 품질을 개선하였습니다.</li>
                       <li data-date="[210408]">인스타 한국인 좋아요 품질을 개선하였습니다.</li>
                       <li data-date="[210407]">인스타 한국인 댓글 서비스를 최적화하였습니다.</li>
                       <li data-date="[210331]">인스타 한국인 좋아요 증가 속도를 개선하였습니다.</li>
                       <li data-date="[210330]">인스타 한국인 팔로워 품질을 개선하였습니다.</li>
                       <li data-date="[210329]">유튜브 한국인 구독자 서비스를 최적화하였습니다.</li>
                       <li data-date="[210324]">유튜브 한국인 댓글 품질을 개선하였습니다.</li>
                       <li data-date="[210309]">유튜브 한국인 구독자 늘리기 서비스를 최적화하였습니다.</li>
                       <li data-date="[210223]">인스타 인기게시물 시스템을 최적화하였습니다.</li>
                       <li data-date="[210222]">인스타 한국인 댓글 품질을 최적화하였습니다.</li>
                       <li data-date="[210219]">유튜브 한국인 댓글 서비스가 추가되었습니다.</li>
                       <li data-date="[210217]">인스타 한국인 댓글 품질을 최적화하였습니다.</li>
                       <li data-date="[210215]">유튜브 한국인 구독자, 좋아요 서비스가 추가되었습니다.</li>
                       <li data-date="[210215">틱톡 좋아요, 팔로워 서비스를 최적화하였습니다.</li>
                       <li data-date="[210208]">인스타 한국인 좋아요 품질을 최적화하였습니다.</li>
                       <li data-date="[210125]">유튜브 한국인 동영상 조회수를 업데이트 하였습니다.</li>
                       <li data-date="[210123]">인스타 한국인 좋아요 증가속도를 최적화하였습니다.</li>
                       <li data-date="[210120]">인스타 한국인 댓글 품질을 최적화하였습니다.</li>
                       <li data-date="[210114]">인스타 외국인 좋아요 서비스를 최적화하였습니다.</li>
                       <li data-date="[210112]">인스타 한국인 댓글 증가속도를 최적화하였습니다.</li>
                       <li data-date="[210108]">인스타 한국인 좋아요 증가속도를 최적화하였습니다.</li>
                                 </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="neworder_box">
                    <div class="card card-v2">
                        <div class="card-body">
                            <h2 class="form-title text-center mb-2">
                                주문하기
                            </h2>

                            <div class="mb-3 new_order_txt" >
                                <h5  class="mb-0 text-dark">플랫폼을 선택해주세요</h5>
                                <p class="mb-0">({{site['name']}} 24시간 주문을 자동으로 처리합니다)</p>
                            </div>

                            <div class="orderCatFilter" id="cat_filter_items">
                                <button class="catgory_item item_cat_filter" onclick="forInstagram()">
                                    <img src="https://cdn.mypanel.link/jjc9qs/jq9ec1kby6kt0a8c.svg" alt="">
                                    <span>instagram</span>
                                </button>
                                <button class="catgory_item item_cat_filter" onclick="filterStarted('페이스북')">
                                    <img src="https://cdn.mypanel.link/jjc9qs/8u62rzl4y5yk0gqb.svg" alt="">
                                    <span>facebook</span>
                                </button>
                                <button class="catgory_item item_cat_filter" onclick="filterStarted('유튜브')">
                                    <img src="https://cdn.mypanel.link/jjc9qs/orp8wi6u7ykqgqqa.svg" alt="">
                                    <span>youtube</span>
                                </button>
                                <button class="catgory_item item_cat_filter" onclick="filterOthers()">
                                    <img src="https://cdn.mypanel.link/jjc9qs/64wffagma9mwarjs.svg" alt="">
                                    <span>etc</span>
                                </button>
                            </div>

                            <form {% if site['rtl'] %} class="rtl-form"{% endif %} action="{{ page['url'] }}" method="post" id="order-form">
                                {% if error %}
                                  <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ errorMessage }}
                                  </div>
                                {% endif %}
                      
                                {% if 1 == success %}
                                  <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4>{{lang('neworder.message.success')}}</h4>
                                    {{lang('neworder.id')}}: {{order['id']}}<br>
                                    {{lang('neworder.service')}}: {{order['service']}}
                                    <br>
                                    {{lang('neworder.link')}}: {{order['link']}}<br>
                                    {{lang('neworder.quantity')}}: {{order['quantity']}}<br>
                                    {{ lang('neworder.charge') }}: {% if order.converted %} <span data-toggle="tooltip" data-placement="top" title="{{ order.original_charge }}">{{ order['charge'] }}</span> {% else %} {{ order['charge'] }} {% endif %}<br>
                                    {{ lang('neworder.balance') }}: {% if order.converted %} <span data-toggle="tooltip" data-placement="top" title="{{ order.original_balance }}">{{ order['balance'] }}</span> {% else %} {{ order['balance'] }} {% endif %}<br>
                                  </div>
                                {% endif %}
                      
                                {% if 2 == success %}
                                  <div class="alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4>{{lang('neworder.message.success')}}</h4>
                                    {{lang('neworder.subscription_id')}}: {{order['id']}}<br>
                                    {{lang('neworder.service')}}: {{order['service']}}
                                    <br>
                                    {{lang('neworder.username')}}: {{order['link']}}<br>
                                    {{lang('neworder.quantity')}}:
                                    {% if order['quantity_min'] == order['quantity_max'] %}
                                      {{order['quantity_max']}}
                                    {% else %}
                                      {{order['quantity_min']}}-{{order['quantity_max']}}
                                    {% endif %}
                                    <br>
                                    {{lang('neworder.new_posts')}}:
                                    {{order['posts']}}
                                    <br>
                                    {{lang('neworder.old_posts')}}:
                                    {{order['old_posts']}}
                                    <br>
                                    {{lang('neworder.delay')}}:
                                    {{order['delay']}}
                                    <br>
                                  </div>
                                {% endif %}
                      
                                {% if categories %}
                                  <div class="form-group">
                                    <label for="orderform-category" class="control-label">{{ lang('neworder.category') }}</label>
                                    <select
                                        class="form-control"
                                        id="orderform-category"
                                        name="OrderForm[category]"
                                    >
                                      {% for category in extended_categories %}
                                        <option
                                            value="{{ category.id }}"
                                        >
                                            {{ category.name }}
                                        </option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                {% endif %}
                                <div class="form-group">
                                  <label for="orderform-service" class="control-label">{{ lang('neworder.service') }}</label>
                                  <select
                                      class="form-control"
                                      id="orderform-service"
                                      name="OrderForm[service]"
                                  ></select>
                                </div>
                                <div class="form-group hidden fields" id="service_description">
                                  <label for="service_description" class="control-label">{{ lang('neworder.description') }}</label>
                                  <div class="panel-body border-solid border-rounded">
                                      {{service['description']}}
                                  </div>
                                </div>
                      
                                <div id="fields"></div>
                      
                                <div class="form-group">
                                  <label for="charge" class="control-label">{{ lang('neworder.charge') }}</label>
                                  <input type="text" class="form-control" id="charge" value="{{ order['charge'] }}" readonly>
                                </div>
                      
                                {% if check_agreement %}
                                  <div class="form-group">
                                    <label class="control-label terms">
                                      <input type="checkbox"  name="OrderForm[termsofservice]" class="terms-accept-checkbox" value="1" id="terms" {{data['termsofservice'] ? 'checked' : ''}}> {{lang('signup.accept_terms_text')}}
                                      <a  href="{{ page_url('terms') }}" target="_blank">{{ lang('terms.signup_checkbox') }}</a>
                                    </label>
                                  </div>
                                {%endif%}
                      
                                <input type="hidden" name="_csrf" value="{{ csrftoken }}">
                                <button type="submit" class="btn btn-primary v2 w-100">{{ lang('neworder.button') }}</button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>


  <!-- Category FIlter System Start -->

<script>
   var getFilterWrap =  document.getElementById('cat_filter_items');
     
     getFilterWrap.addEventListener('click', function(e){
              var getallActive = document.getElementsByClassName('activeItem');
              if(getallActive.length > 0){
                  for(item of getallActive){
                      item.classList.remove('activeItem');
                  }
              }
              e.target.classList.add('activeItem');
          });
</script>

  <script>


      const allCurrentCat = [
                          {% for categoryId,categoryName in categories %}
                              {id: {{ categoryId }},name: "{{ categoryName }}" },
                          {% endfor %}
             ];

    function filterNow(name){
      let result = [];
      let resultHtml = '';
      let necesItem = name.toLowerCase();
     
      for(const item of allCurrentCat){
        const itemName = item.name.toLowerCase();
        const itemIsTrue = itemName.includes(necesItem);
        if(itemIsTrue == true){
          result.push(item);
        }
      }
      if(result.length == 0){
        for (const item of allCurrentCat) {
          resultHtml = resultHtml + `<option value="${item.id}">${item.name}</option>`;
        }
      }else{
        for (const item of result) {
          resultHtml = resultHtml + `<option value="${item.id}">${item.name}</option>`;
        }
      }
      return resultHtml;
   }


   function forInstagram(){
      let resultHtml;
      let result = [];
      for(const item of allCurrentCat){
         
          if(item.name.includes('인기게시물') || item.name.includes('인스타그램') || item.name.includes('인스타')){
              result.push(item);
          }
      }

      for (const item of result) {
          resultHtml = resultHtml + `<option value="${item.id}">${item.name}</option>`;
        }

    const getCatSelect = document.getElementById('orderform-category');
    getCatSelect.innerHTML = resultHtml;
    $('#orderform-category').trigger('change');
   }

   function filterEverything(){
       let resultHtml;
       let result = [];
       for (const item of allCurrentCat) {
           result.push(item);
         }

         for (const item of result) {
           resultHtml = resultHtml + `<option value="${item.id}">${item.name}</option>`;
         }

     const getCatSelect = document.getElementById('orderform-category');
     getCatSelect.innerHTML = resultHtml;
     $('#orderform-category').trigger('change');
   }

// other filter
   function filterOthers(){
       let resultHtml;
       let result = [];
       for(const item of allCurrentCat){
           const itemName = item.name.toLowerCase();
           if(!itemName.includes('인기게시물') && !itemName.includes('인스타그램') && !itemName.includes('인스타') && !itemName.includes('유튜브') && !itemName.includes('페이스북')){
               result.push(item);
           }
       }

       for (const item of result) {
           resultHtml = resultHtml + `<option value="${item.id}">${item.name}</option>`;
         }

     const getCatSelect = document.getElementById('orderform-category');
     getCatSelect.innerHTML = resultHtml;
     $('#orderform-category').trigger('change');
   }

   function filterStarted(targetName){
     const getResults = filterNow(targetName);
     const getCatSelect = document.getElementById('orderform-category');
     getCatSelect.innerHTML = getResults;
     $('#orderform-category').trigger('change');
   }

  </script>