{% if site['resetPassword'] %}
<section id="page_title">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h1 class="text-center">
                {{  lang('resetpassword.title') }}
              </h1>
          </div>
      </div>
  </div>
</section>
<section id="resetpassword" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-12"></div>
            <div class="col-lg-8 col-md-8 col-12">
                <div class="card card-v2">
                    <div class="card-body">
                        <div class="form_control_box">
                            <form {% if site['rtl'] %}class="rtl-form"{% endif %} method="post" action="">
            
                                {% if error %}
                                  <div class="alert alert-dismissible alert-danger fade show">
                                  
                                    {{ errorMessage }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                                {% endif %}
                                {% if success %}
                                  <div class="alert alert-dismissible alert-success fade show">
                                    
                                    {{ successText }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                  </div>
                                {% endif %}
                                <div class="form-group">
                                  <label for="email" class="control-label">{{ lang('resetpassword.email') }}</label>
                                  <input type="email" class="form-control" id="email" name="ResetPasswordForm[email]">
                                </div>
                                {% if site['captcha'] %}
                                  {{ captchaCode }}
                                {% endif %}
                                <button type="submit" class="btn btn-primary v2 w-100">{{ lang('resetpassword.button.send') }}</button>
                                <input type="hidden" name="_csrf" value="{{csrftoken}}">
                              </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-12"></div>
        </div>
    </div>
</section>
{% endif %}

{% if site['captcha'] %}
  <script src='https://www.google.com/recaptcha/api.js?hl={{ site['language'] }}'></script>
{% endif %}
