<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12">
        <h4 class="text-white" data-aos="fade-up" data-aos-duration="1000">
          당신 곁에 항상 언제나
        </h4>
        <h1 class="text-white mb-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          융합기획커머스협회가 <br>
          함께하겠습니다!
        </h1>
        <div class="my-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
          <a href="/contact" class="btn btn-ouline btn-white-banner">
            <span class="text">Contact</span>
            <span class="icons">
              <i class="fas fa-arrow-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="association">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title_wrap text-center">
          <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            Introduction to the Association
          </h4>
          <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
            융합기획커머스협회는 <br class="br_for_phone"> 인플루언서(개인)와 비즈니스를 융합하여<br class="br_for_phone">
            <br class="br_for_desktop">
            협력과 발전을 도모합니다.
          </h2>
          <p class="show_desktop" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            융합기획커머스 협회는 인플루언서(개인)와 기업 간의 파트너십을 형성하고,<br>
            상호 협력을 통해 양측의 이익을 극대화하는 데 초점을 맞추고 있습니다.
          </p>
          <p class="show_phone" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            융합기획커머스 협회는 인플루언서(개인)와 기업 간의
            <br style="display: block;">
            파트너십을 형성하고,
            <br style="display: block;">
            상호 협력을 통해 양측의 이익을 극대화하는데
            <br style="display: block;">
            초점을 맞추고 있습니다.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-6">
        <div class="asso_item" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400">
          <img src="https://cdn4.mypanel.link/jjc9qs/51ffmggo332o4mmu.webp" alt="" class="img-fluid mb-4">
          <h3 class="text-center">
            네트워킹 및 연결
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6">
        <div class="asso_item" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
          <img src="https://cdn4.mypanel.link/jjc9qs/hilstn3ry84eyofz.webp" alt="" class="img-fluid mb-4">
          <h3 class="text-center">
            교육 및 훈련
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6">
        <div class="asso_item" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">
          <img src="https://cdn4.mypanel.link/jjc9qs/d1d7zscuswhkkq70.webp" alt="" class="img-fluid mb-4">
          <h3 class="text-center">
            리서치 및 인사이트 제공
          </h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-6">
        <div class="asso_item" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="700">
          <img src="https://cdn4.mypanel.link/jjc9qs/l4h3erkhse58sksa.webp" alt="" class="img-fluid mb-4">
          <h3 class="text-center">
            정책 및 규제 지원
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="establishment">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="establishment_image" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
          <img src="https://cdn4.mypanel.link/jjc9qs/ytn55iysg17ro4po.webp" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="section_title_wrap">
          <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            Purpose Of Establishment
          </h4>
          <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
            융합기획커머스협회는 <br class="br_for_phone"><br class="br_for_desktop">
            전문적인 “ <img src="https://cdn4.mypanel.link/jjc9qs/ofstkkr2gr4gjqg9.png" class="img-fluid" width="30px"
              alt=""> 융합기획전문가” 배출을 <br class="br_for_desktop"><br class="br_for_phone">
            목표로 합니다.
          </h2>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            최근 많은 개인/기업이 시너지를 창출할 수 있는 <br class="br_for_phone"> 융합 및 제휴를 추진하는 <br class="br_for_desktop">
            가운데 융합기획커머스협회는<br class="br_for_phone"> B2B 판로개척, 신사업개발, 대외협력,<br class="br_for_phone"> <br
              class="br_for_desktop">
            제휴 마케팅, 전략적 제휴 등을 통해 <br class="br_for_phone"> 각 개인/기업간의 <br class="br_for_desktop">
            다양한 제휴 비즈니스를 <br class="br_for_phone"> 실현하는데 목적을 두고 있습니다.
          </p>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
            융합기획커머스협회는 비즈니스뿐만 아니라,<br class="br_for_phone"> 서로 협업하기 힘든 <br class="br_for_desktop">
            정부 기관과 B2G 제휴 등 <br class="br_for_phone"> 비영리 단체들과 영리 단체인 기업들이 융합 및 <br class="br_for_phone"> <br
              class="br_for_desktop">
            제휴를 통해 각 단체의 역량 향상과 시너지를 내도록 <br class="br_for_phone"> 돕는 매개체 역할도 <br class="br_for_desktop">
            수행하고 있습니다.
          </p>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
            향후 산업과 기술, 문화 등을 창의적으로 융합해 <br class="br_for_phone"> 산업 발전을 도모하고,<br class="br_for_phone"> <br
              class="br_for_desktop">
            새로운 비즈니스 기회를 창출하며<br class="br_for_phone"> 역량을 강화하기 위해 더욱 노력할 계획입니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="core_value">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="section_title_wrap">
          <h4 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">Our vision</h4>
          <h2 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
            We realize in the<br class="br_for_phone"> value of win-win <br class="br_for_phone"> for sustainable growth <br class="br_for_phone"><br>
            지속가능한 성장을 위한 상생의 <br class="br_for_phone"> 가치를 실현합니다.
          </h2>
          <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
            융합기획커머스협회는 기업의 다양한 재화 및<br class="br_for_phone"> 서비스를 연결하고 <br class="br_for_desktop">
            회원들간의 네트워킹의 장을 <br class="br_for_phone"> 만들어 서비스 이용 기업이 다시 제휴사가 되는<br class="br_for_phone"> <br class="br_for_desktop">
            선순환 구조를 창출합니다.
          </p>
          <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
            현재 만여개의 중소기업, 소상공인들, <br class="br_for_phone">1,500명 이상의 인플루언서(개인)들과 <br class="br_for_desktop">
            융합기획 및<br class="br_for_phone"> 제휴 업무를 대행하며 다양한 시장을 경험하고 해당<br class="br_for_phone"> 분야에서 만 <br class="br_for_desktop">
            의 단순 비즈니스 매칭이 아닌 전혀 다른<br class="br_for_phone"> 시장에 대한 이해와 접목으로  <br class="br_for_desktop">
            융합기획 및<br class="br_for_phone"> 제휴 성과와 노하우가 많습니다.
          </p>
          <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
            융합기획의 무궁무진한 시장에 대한 기회,<br class="br_for_phone"> 제휴업무 특성상 전문성의 니즈를 <br class="br_for_desktop">
            인식하며<br class="br_for_phone"> 각 분야에서 10년 이상의 노하우를 가진 팀원들이<br class="br_for_phone"> 열심히 <br class="br_for_desktop">
            성공사례를 만들며 달려가고 있습니다.<br class="br_for_phone"> <br class="br_for_desktop">
            지속가능한 성장을 위해서는 신뢰를 바탕으로 한<br class="br_for_phone"> 기업 간의 전략적 제휴가 <br class="br_for_desktop">
            필요합니다.<br class="br_for_phone"> <br class="br_for_desktop">
            저희는 이를 ”융합기획경영”이 주는<br class="br_for_phone"> 지속가능성이라고 하고 있습니다.
          </p>
          <p data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600">
            융합기획커머스협회는 만여개 이상의 <br class="br_for_phone"> 인플루언서(개인)와 기업 DB를<br class="br_for_phone"> <br class="br_for_desktop">
            바탕으로 고객 기업의 가치를 이해하고 니즈에 맞는<br class="br_for_phone"> 기업들을 전략적으로 <br class="br_for_desktop">
            매칭하여 레드오션에서 <br class="br_for_phone"> 블루오션을 결합한 퍼플오션을 창출해 낸<br class="br_for_phone">  <br class="br_for_desktop">
            성공 사례들이 많습니다.<br class="br_for_phone"> 여러분의 성공을 위한 여정에<br class="br_for_phone"><br class="br_for_desktop">
            저희 융합기획커머스협회가 함께 하기를 바랍니다.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="core-value-image" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
          <img src="https://cdn4.mypanel.link/jjc9qs/014oyqf3mje0wtgw.webp" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="role_of_association">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title_wrap text-center mb-5">
          <h4 class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
            The Role Of An Association
          </h4>
          <h2 class="text-white" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
            융합기획커머스협회는<br class="br_for_phone"> 개인과 기업의 성장과 발전을 위한<br class="br_for_phone"> A to Z 지원이 가능하며, <br class="br_for_phone"><br>
            역할과 책임을 다하고 있습니다.
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card card__associations" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="role__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                  <div class="role_top">
                    <div class="icon">
                      <img src="https://cdn4.mypanel.link/jjc9qs/ezfj7jb6ofcozfj7.png" class="img-fluid" alt="">
                    </div>
                    <h4 class="mb-0">
                      행사 기획
                    </h4>
                  </div>
                  <p class="text-start">
                    백화점 팝업스토어 <br>
                    행사 컨셉에 맞는 공간 디스플레이 기획 <br>
                    공간 및 소품디자인 VMD <br>
                    신규브랜드 발굴 <br>
                    브랜드 관리 및 프로모션
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="role__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700">
                  <div class="role_top">
                    <div class="icon">
                      <img src="https://cdn4.mypanel.link/jjc9qs/fya5nd9c32snmmul.png" class="img-fluid" alt="">
                    </div>
                    <h4 class="mb-0">대행 서비스 </h4>
                  </div>
                  <p class="text-start">
                    마케팅 대행(인플루언서(개인) 마케팅, <br>
                    포털 홍보 및 언론 송출) <br>
                    AI 자동화 프로그램을 통한 <br>
                    개인/기업의 SNS 계정 관리 대행 <br>
                    수출입 대행, 광고기획/행사 대행
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="role__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                  <div class="role_top">
                    <div class="icon">
                      <img src="https://cdn4.mypanel.link/jjc9qs/zxujsen9b6fwoh7y.png" class="img-fluid" alt="">
                    </div>
                    <h4 class="mb-0">콘텐츠 기획</h4>
                  </div>
                  <p class="text-start">
                    문화콘텐츠 + 쇼핑 융합기획 <br>
                    상품 개발 및 디자인 <br>
                    OEM, ODM
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="role__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900">
                  <div class="role_top">
                    <div class="icon">
                      <img src="https://cdn4.mypanel.link/jjc9qs/u7628telbh06xxwq.png" class="img-fluid" alt="">
                    </div>
                    <h4 class="mb-0">자문 서비스 </h4>
                  </div>
                  <p class="text-start">
                    경영/마케팅/세무회계 자문 <br>
                    JV 설립 기획 <br>
                    투자 유치 자문 <br>
                    대행사 창업 자문 <br>
                    정부지원사업 사업계획서 자문
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="role__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
                  <div class="role_top">
                    <div class="icon">
                      <img src="https://cdn4.mypanel.link/jjc9qs/nfqhzcslo0gf13x5.png" class="img-fluid" alt="">
                    </div>
                    <h4 class="mb-0">교육 서비스</h4>
                  </div>
                  <p>
                    융합기획지도사 자격증 과정 아카데미 운영 <br>
                    기업 출강 임직원 교육
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="role__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1100">
                  <div class="role_top">
                    <div class="icon">
                      <img src="https://cdn4.mypanel.link/jjc9qs/fyklaqmjr2ldurip.png" class="img-fluid" alt="">
                    </div>
                    <h4 class="mb-0">Alliance 매칭 서비스</h4>
                  </div>
                  <p class="text-start">
                    회원사들간의 비즈니스 제휴 및 융합기획 <br>
                    셀럽/인플루언서(개인) 네트워킹
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="process">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section_title_wrap text-center mb-5">
          <h4 data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">Process</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="step_wraper">
          <div class="step_count" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
            <span class="number">
              01
            </span>
            <div class="text">
              STEP
            </div>
          </div>
          <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">문의</h4>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            사전 점검 및 분석 <br>
            문의 개인/기업조사
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="step_wraper">
          <div class="step_count" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
            <span class="number">
              02
            </span>
            <div class="text">
              STEP
            </div>
          </div>
          <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">사전 준비</h4>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            현황 분석 <br>
            니즈 & 문제 파악 <br>
            아젠다 설정
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="step_wraper">
          <div class="step_count" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
            <span class="number">
              03
            </span>
            <div class="text">
              STEP
            </div>
          </div>
          <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">목표설정</h4>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            비전공유 <br>
            기대목표 설정 <br>
            전략방향 설정 <br>
            KPI 설정
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="step_wraper">
          <div class="step_count" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
            <span class="number">
              04
            </span>
            <div class="text">
              STEP
            </div>
          </div>
          <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">계획 수립</h4>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            실행 로드맵 <br>
            변화 관리 및 정기 리포트 공유 <br>
            지속적인 피드백 <br>
            전략 개발
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="step_wraper">
          <div class="step_count" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
            <span class="number">
              05
            </span>
            <div class="text">
              STEP
            </div>
          </div>
          <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">협력 & 실행</h4>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            Our Business <br>
            모니터링 <br>
            새로운 니즈 수립
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="step_wraper">
          <div class="step_count" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
            <span class="number">
              06
            </span>
            <div class="text">
              STEP
            </div>
          </div>
          <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">결과 보고</h4>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
            성과 확인 및 평가 <br>
            다음 단계 계획
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn-close btn-modal-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="signin___modal">
        <div class="left__signin">
          <img src="https://cdn4.mypanel.link/jjc9qs/0cypgbktim0frn43.jpeg" class="img-fluid" alt="">
        </div>
        <div class="right__signin">
          <form {% if site['rtl'] %}class="rtl-form" {% endif %} method="post" action="/">
            <div class="d-flex justify-content-between align-items-center">
              <h3>로그인</h3>

            </div>
            <hr>
            {% if error %}
            <div class="alert alert-dismissible alert-danger fade show">
              {{ errorMessage }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            {% if success %}
            <div class="alert alert-success  alert-dismissible fade show" role="alert">
              {{successMessage}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <div class="form-group">
              <label for="username" class="control-label">{{ lang('signup.username') }}</label>
              <input type="text" class="form-control" id="username" name="LoginForm[username]">
            </div>
            <div class="form-group form-group__password">
              <label for="password" class="control-label">{{lang('signup.password')}}</label>
              <input type="password" class="form-control" id="password" name="LoginForm[password]">

            </div>
            <div class="mb-3 checkbox">
              <label>
                <input type="checkbox" name="LoginForm[remember]" value="1" id="remember">{{lang('signin.remember_me')}}
              </label>
            </div>

            <div class="text-center">
              {% if captcha %}
              {{ captchaCode }}
              {% endif %}
            </div>

            <input type="hidden" name="_csrf" value="{{csrftoken}}">
            <button type="submit" class="btn btn-primary v2 w-100" id="signinBtn">{{ lang('signin.button')
              }}</button>

            <div class="mt-3 text-center">
              {% if registration %}
              <span class="pull-right pull-right-middle">{{ lang('signin.text') }} <a href="{{ page_url('signup') }}">{{
                  lang('signup.title') }}</a></span> <br>
              {% endif %}
              {% if site['resetPassword'] %}
              <a href="{{ page_url('resetpassword') }}" class="forgot-password">{{ lang('signin.reset_password')
                }}</a>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% if error %}
<script>
  window.onload = () => {
    const myModal = new bootstrap.Modal('#staticBackdrop');
    myModal.show();
  }
</script>
{% endif %}